@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

/* index.css o tailwind.css */
html, body {
  height: 100%; /* Asegura que el body ocupe el 100% de la altura */
  margin: 0;    /* Elimina márgenes por defecto */
  background: linear-gradient(to right, #fff6f6,#A9D6E5);

}


/* Para asegurar que el fondo gradiente se aplique correctamente */
.bg-gradient-custom {
  background-image: linear-gradient(to bottom right, #ffffff, #daf7b1);
  height: 100%;  /* Asegura que el fondo ocupe toda la altura de la pantalla */
}